<div class="data-grid">

  <div class="filter">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" />
    </div>
  </div>

  <table class="table">
    <thead>
      <tr></tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <div class="pagination" role="navigation">

    <button type="button" class="btn btn-default first" aria-label="First Page">
      <i class="glyphicon glyphicon-step-backward"></i>
    </button>

    <button type="button" class="btn btn-default prev" aria-label="Previous Page">
      <i class="glyphicon glyphicon-triangle-left"></i>
    </button>

    <select class="form-control">
    </select>

    <button type="button" class="btn btn-default next" aria-label="Next Page">
      <i class="glyphicon glyphicon-triangle-right"></i>
    </button>

    <button type="button" class="btn btn-default last" aria-label="Last Page">
      <i class="glyphicon glyphicon-step-forward"></i>
    </button>

  </div>

</div>