<div class="pagination" role="navigation">
    
  <button type="button" class="btn btn-default first" aria-label="First Page">
    <i class="icon-angle-double-left"></i>
  </button>

  <button type="button" class="btn btn-default prev" aria-label="Previous Page">
    <i class="icon-angle-left"></i>
  </button>

  <select class="form-control">
  </select>

  <button type="button" class="btn btn-default next" aria-label="Next Page">
    <i class="icon-angle-right"></i>
  </button>

  <button type="button" class="btn btn-default last" aria-label="Last Page">
    <i class="icon-angle-double-right"></i>
  </button>

</div>