.data-grid {

  .table {

    thead > tr {
      
      > th,
      > td {
        white-space: nowrap;
        user-select: none;

        &.sortable {
          cursor: pointer;
          transition: all 150ms ease;

          &.sorted {
            background-color: $gray-lighter;
          }

        }

        .icon {
          margin-left: 8px;
        }

      }

    }

  }

  .filter {

    .form-control {
      max-width: 300px;
    }

  }

  .pagination {

    .form-control {
      width: auto;
      min-width: 36px;
      display: inline-block;
    }

  }

}
